*{
    box-sizing: border-box;
}

:root{
    --primary-color:#0f1b4c;
}

html {
    font-size: 62.5%;
}
body{
    font-size:1.6rem ;
    font-family: 'DVN-Poppins' , sans-serif;
    src: url('Poppins/DVNPoppins-Regular.woff2') format('woff2'),
        url('Poppins/DVNPoppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
/* Header */
.header{
 position: relative;
 background: #E6F0FF;
width: 1540px;
height: 736px;
}
.header .logo1{
    width: 138px;
    height: 62px;
    border-radius: 6px
}
/* common */
a{
    text-decoration: none;
}
.content{
    width: 1110px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}
.btn{
    padding: 18px 16px;
    display: inline-block;
    min-width:  98px;
    border-radius: 12px;
    background: var(--primary-color);
    font-weight: 500;
    color: #ffffff;
    text-align: center;
    font-size: 1.4rem;
    line-height: 21px;
    
}
.btn:hover{
    opacity: 0.9;
}
.line-clamp{
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2) ;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.navbar{
    display: flex;
    align-items: center;
    padding-top: 38px;
}
.navbar ul{
    display: flex;
    margin-left: 50px;
}
.navbar .actions{
     margin-left: auto;
}
.navbar ul a{
    color:  #4F5361;
    font-weight: 500;
    font-size: 1.4rem;
    padding: 8px 14px;
}
.navbar ul a:hover{
    text-decoration: underline;
}
.navbar .action-link{
    font-weight: 500;
    font-size: 1.4rem;
    color: var(--primary-color);
}
.navbar .action-btn{
    padding: 13px 16px;
    margin-left: 18px;
    border-radius: 8px;
}

.search-form{
    display: flex;
    align-items: center;
    gap:  8px;
    /* background: #fff; */
    /* border-radius: 8px; */
    /* box-shadow:  0 2px 4px rgba(0, 0, 0, 0.1);; */

}
.search-form label{
    font-size: 1.2rem;
    color: #333;
}
.search-form .timkiem {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 500px;
    font-size: 1.2rem;
}
.search-form .search-btn {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background: var(--primary-color);
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
}
/* .search-form .search-btn:hover {
    background: darken(var(--primary-color), 20%);
} */
.hero{
    margin-top: 130px;
}
.hero .info{
    width: 51%;
    
}
.hero .sub-title{
color: #687690;
font-size: 1.8rem;
font-style: normal;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.1px;
}
.hero .title{
color: #000336;
font-size: 6.4rem;
font-style: normal;
font-weight: 700;
line-height: 1.19; /* 118.75% */
margin-top: 8px;
}
.hero .desc{
margin-top: 30px;
font-weight: 400;
font-size: 1.8rem;
text-transform: capitalize;
color:  #5A6473;;
line-height: 32px;
}
.hero-cta{
    min-width: 170px;
    margin-top: 40px;
}
.hero-img{
    position: absolute;
    right: calc((100vw - 1110px) / 2 - 100px);
    bottom: 0;
    
}
.slide-container{
    position: relative;
    max-width: 100%;
    overflow: hidden;
    border-radius: 12px;
}
.slides{
    display: flex;
    transition:  transform 0.5s ease-in-out;
}
.slide{
    min-width: 80%;
}
.slide img{
    width: 500px;
    height: auto;
    display: block;
    border-radius: 12px;

}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
}
.next {
    right: 10px;
}

.prev {
    left: 10px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
/* Clients */
.clients{
    margin-top: 79px;
    padding: 43px 0 64px;
   
}
.clients .row{
    display: flex;
    justify-content: space-between;
}
.clients .desc{
color: #7D8589;
font-size: 1.6rem;
font-style: normal;
font-weight: 500;
line-height: 1.25; /* 125% */

}
.clients .row-desc{
    margin-top: 23px;
}
.clients .images{
    margin-top: 92px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.clients .images a {
    padding: 0 42px ;
    height: 90px;
    display: inline-block;
    border-radius: 12px;
}
.clients .images a:hover{
    border-bottom: 0px 10px 20px rgba(0 , 0, 0, 0.1);

}
/* ===============Guides============ */
.guides{
    margin-top: 40px;
    padding: 93px 9 79px;
}
.guides .sub-title{
 color: #000339;
text-align: center;
font-size: 3.5rem;
font-style: normal;
font-weight: 600;
line-height: 1; /* 100% */
position: relative;
}
.guides .sub-title::before{
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    display: inline-block;
    width: 41px;
    height: 4px;
    border-radius: 12px;
    background: #000339;
    position: absolute;

}
.guides .desc{
    margin:20px auto 0 ;
    width: 459px;
    max-width: 100%;
    margin-top: 20px;
    color: #5A6473;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.9; /* 187.5% */
}
.list-guide{
    margin-top: 70px;
    display: flex;
    justify-content: center;

}
.guide-item{
    margin: 0px 70px;
    text-align: center;

}
.guide-item .title{
color: #3B3C45;
font-size: 2rem;
font-style: normal;
font-weight: 500;
line-height: 1.1; /* 110% */
margin-top: 26px;
}
.guide-item .link{
display: inline-block;
margin-top: 10px;
color: #0689FF;
font-size: 1.4rem;
font-weight: 600;
}
.guide-item .arrow{
    margin-left: 6px;
}
.guide-cta{
display: flex;
justify-content: center;
margin-top: 50px;
}
.guide-cta .btn{
   min-width: 170px;
}
/* Featured */
.featured{
    padding: 110px 0;
    margin-top: 41px;
    background: #F5FAFE;
}
.featured .sub-title a{
color: #000339;
font-size: 3.5rem;
font-style: normal;
font-weight: 600;
line-height: 1; /* 100% */
}
.featured .row{
display: flex;
justify-content: space-between;
margin-top: 15px;
}
.featured .desc{
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #5A6473;
}
.featured .link{
    display: flex;
    align-items: center;
    color: #0689FF;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
}
.featured .link .arrow {
    margin-left: 8px;
}
.featured .list{
    display: flex;
    
     gap: 30px;  /*xác định khoản cách giữa các hàng trong flebox */
    margin-top: 70px;
    
}
.featured .item  {
    flex: 1;
    background: #ffffff;
    border-radius: 12px;
   
}
.featured .item .thumb{
    width: 100%;
    height: 340px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    display: block;
    margin: 0 auto; /* Để căn giữa ảnh trong khung */
    
}
.featured .item .body{
    padding: 17px 20px 24px;
}
.featured .item .title a{
    color: #000339;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.5; /* 100% */

  
}
.featured .item .desc{
--line-clamp : 3;
margin-top: 10px;
color: #A3A6AB;
font-size: 1.4rem;
font-style: normal;
font-weight: 500;
line-height: 1.5;

}
.featured .item .info{
    display: flex;
    align-items: center;
    margin-top: 21px;

}
.featured .item .label{
    color: #4D4D52;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    margin-left: 8px;
}
.featured .item .icon{
   margin-left: 23px;
}
.featured .item .icon:first-child{
    margin-left: 0;
}
/* Starst */
.starts{
    margin-top: 75px;
    padding: 50px 0;
    margin-left: 200px;

}
.starts .comtent{
    width: 1048px;
}
.starts .row{
    display: flex;
}
.starts .img-block, .starts .info{
    width: 50%; 
}
.starts .img-block{
    position: relative;
   
}
.starts .img-block .image {
    display: block;
    margin-left: auto;
    width: 400px;
    height: 460px;
    object-fit: cover;
    border-radius: 12px;
}
.starts .info{
    padding: 79px 0 0 165px;
}
.starts .subtitle{
    position: relative;
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1.29;
    color: #000339;
    width: 269px;
}
.starts .subtitle::before{
    position: absolute;
    left: 0;
    top: -10px;
    content: "";
    display: block;
    width: 40px;
    height: 4px;
    background: #000339;
    border-radius: 12px;
}
.starts .info .desc{
    margin-top: 20px;
    font-weight: 400px;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #5A6473;
    width: 309px;
}
.starts-trend{
    position: absolute;
    width: 229px;
    background:#ffffff ;
    border: 0px 0px 12px 12px;
    padding: 45px 22px 40px;
    margin-left: 20px;

}
.starts-trend .value{
    font-weight: 700;
    color: #000339;
    font-size: 2.6rem;
    line-height: 1.5;
}
.starts-trend .icon{
    margin-left: auto;
}
.starts-trend .desc{
    margin-top: 8px;
    color: #A7A7A7;
    font-size: 1.2rem;
}
.starts-trend .separate{
    height: 1px;
    background: #e9e9e9;
    margin-top: 25px;
}
.avatar-block{
    margin-top: 26px;
}
.starts .avatar-group{
    display: flex;
}
.starts .avatar{
    height: 16px;
    width: 16px;
    margin-left: -3px;
    object-fit: cover;
    border-radius: 50%;
}
.starts .row-qty{
    margin-top: 100px;
    justify-content: space-between;
    padding: 0 32px ;
}
.starts .qty{
    font-weight: 600;
    font-size: 6.4rem;
    color: #000000;
}
.starts .qty-desc{
    margin-top: 24px;
    font-weight: 500;
    color: #7b8087;
    font-size: 1.8rem;
}
/* Subsription */
.Subsription{
    margin-top: 90px;
}
.Subsription .bodyy{
    position: relative;
    display: flex;
    align-items: center;
    height: 370px;
    background: #063183;
    border-radius: 20px;
}
.Subsription .info{
    padding: 0 80px;
    width: 671px;
    max-width: 100%;
}
.Subsription .sub-title{
    font-weight:600 ;
    font-size :3.5rem; 
    line-height:1.5 ;
    color:#ffffff ;
    
}
.Subsription .desc{
    margin-top: 15px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #ffffff;
    opacity: 0.75;
}
.Subsription .btn{
    min-width: 151px;
    background: #fff;
    color: #002366;
    margin-top: 20px;
}
.Subsription .image{
    position: absolute;
    bottom: 0;
}
/* footer */
.footer{
    margin-top: 55px;
    padding: 50px 0 58px;
}
.footer .row{
 display: flex;

}
.footer .row-top{
    gap: 185px; /*Tạo Khoản cách */

}
.footer .heading{
font-family: 'Lato' sans-serif;
font-size: 2rem;
font-weight: 700;
color: #1C1C1D;
}
.footer .list, .footer .desc{
    margin-top: 42px;
} 
.footer .item{
    margin-top: 18px; 
}
.footer .item a , .footer .desc{
    font-weight: 400;
    color: #7a7a7e;
    font-size: 1.6rem;
    white-space: nowrap;
}
.footer .desc{
    white-space: normal;
    line-height: 1.75;
}
.footer .socia{
    margin-top: 40px;
    display: flex;
}
.footer .social-link{
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}
.footer .social-link:hover{
    background:#ededed ;
}
.footer .row-bottom{
    display: flex;
    align-items: center;
    margin-top: 81px;
    justify-content: space-between;
}
.footer .copyright{
    color:#C2C2C2 ;
    font-weight: 400;
    font-size: 1.4rem;
}

/* Đăng Nhâp */


/* reset */

/*end reset*/
body {
    font-family: 'Open Sans', sans-serif;
	background:url(../css/img/bann.jpg) no-repeat 0px 0px;
	background-size:cover;
	-webkit-background-size:cover;
	-ms-background-size:cover;
	-o-background-size:cover;
	-moz-background-size:cover;
	background-position:center;
	background-attachment:fixed;
}
/*--header--*/


/* Header */
.main-w3layouts-agileinfo {
    width: 30%;
    margin: 0 auto;
    padding: 4em 2em;
    background: rgba(255, 255, 255, 0.07);
    -webkit-box-shadow: 0 6px 12px 0 rgb(37, 37, 37);
    -moz-box-shadow: 0 6px 12px 0 rgb(37, 37, 37);
    box-shadow: 0 6px 43px 0 rgba(0, 0, 0, 0.4);
}
.wthree-form h2 {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 1.5em;
    letter-spacing: 3px;
    text-shadow: 3px 3px 4px #000;
}
h1 {
    text-align: center;
    font-size: 45px;
    font-weight: 300;
    margin: 40px 0;
    color: #fff;
    letter-spacing: 9px;
    text-shadow: 4px 4px 3px #000;
    word-spacing: 4px;
    font-weight: 500;
    font-family: 'Josefin Slab', serif;
}
.icon i {
    color: #ffffff;
    font-size: 19px;
    line-height: 49px;
}
.icon {
    display: inline-block;
    position: absolute;
	right: 0px;
    bottom: 0;
    width: 53px;
    height: 50px;
    text-align: center;
    background: #00c6d7;
}
form {
    margin: 0 auto;
    width: 100%;
}
.submit-agileits {
    text-align: center;
    margin-top: 2em;
}
.form-sub{
	position:relative;
    margin-bottom: 20px;
}
.form-sub input[type="text"], input[type="password"] {
    width: 85%;
    padding: 15px 66px 15px 19px;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.16);
    border: 0;
    border-left: 2px solid #00c6d7;
    font-size: 15px;
    letter-spacing: 1.5px;
    color: #fff;
    outline: 0;
    -webkit-box-shadow: 0 6px 12px 0 rgb(37, 37, 37);
    -moz-box-shadow: 0 6px 12px 0 rgb(37, 37, 37);
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.4);
    font-family: 'Open Sans', sans-serif;
}
.submit-agileits input[type="submit"] {
    text-align: center;
    border: 0;
    color: #ffffff;
    font-size: 17px;
    font-weight: 600;
    padding: 14px 90px;
    background-color: rgba(0, 0, 0, 0.34);
    border: 3px solid rgba(255, 255, 255, 0.43);
    -webkit-box-shadow: 0 12px 32px 0 rgba(0, 0, 0, 0.71);
    -moz-box-shadow: 0 12px 32px 0 rgba(0, 0, 0, 0.71);
    box-shadow: 0 12px 32px 0 rgba(0, 0, 0, 0.71);
    outline: none;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
}
.submit-agileits input[type="submit"]:hover {
    color: #ffffff;
    border-color: #00c6d7;
}
/*-- checkbox --*/
.anim {
    position: relative;
    display: block;
    margin-top: .5em;
}
label.anim span, label.anim a {
    color: #fff;
    font-size: 13px;
    display: inline;
    letter-spacing: 2px;
    text-transform: capitalize;
}
label.anim  a {
    display: inline-block;
	text-decoration:none;
	float:right;
	margin-top:4px;
}
.wthree-text ul li {
    displaY: block;
}
.wthree-text ul li:nth-child(1) {
    margin-right: 36px;
}
.agileits-login label {
    font-size: 1em;
    color: #fff;
    font-weight: 400;
    cursor: pointer;
    position: relative;
	
}
input.checkbox {
    background:#fff;
	cursor: pointer;
    width: 1.2em;
    height: 1.2em;
	margin: 0 6px 0 0!important;
}
input.checkbox:before {
	content: "";
	position: absolute;
	width: 1.2em;
	height: 1.2em;
	background: inherit;
	cursor: pointer;
}
input.checkbox:after {
    content: "";
    transition: .4s ease-in-out;
    position: absolute;
    top: 1px;
    left: 0px;
    z-index: 1;
    width: 1.1em;
    height: 1.1em;
    /* margin-top: 4px; */
    border: 1px solid #00c6d7;
}
input.checkbox:checked:after {
	transform: rotate(-45deg);
	height: .5rem;
	border-color: #00c6d7;
	border-top-color: transparent;
	border-right-color: transparent;
}
.anim input.checkbox:checked:after {
	transform: rotate(-45deg);
	height: .5rem;
	border-color: transparent;
	border-right-color: transparent;
	animation: .4s rippling .4s ease;
	animation-fill-mode: forwards;
}
@keyframes rippling {
	50% {
		border-left-color: #d24747;
	}
	100% {
		border-bottom-color: #00c6d7;
		border-left-color: #00c6d7;
	}
} 
/*-- //checkbox --*/ 
/*--copy-right-starts-here--*/
.footer p {
    margin: 0 auto;
    text-align: center;
    margin: 8em 0;
    font-size: 14px;
    color: #fff;
    letter-spacing: 2px;
    text-transform: none;
}
.footer a {
    color: #00c6d7;
    transition: 0.3s all;
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
    -o-transition: 0.3s all;
    -ms-transition: 0.3s all;
}
.footer a:hover{
    color: #fff;
	transition: 0.3s all;
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
    -o-transition: 0.3s all;
    -ms-transition: 0.3s all;
}
/*--copy-right-ends-here--*/
/*--placeholder-color--*/

::-webkit-input-placeholder{
	color:#fff;
}

:-moz-placeholder { /* Firefox 18- */
   color: #fff; 
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #fff;  
}

:-ms-input-placeholder {  
   color: #fff;  
}
/*--//placeholder-color--*/
/*--- Responsive Code ---*/
@media screen and (max-width: 1920px) {
	h1 {
		margin: 150px 0 100px;
		font-size: 55px;
	}
	.copyright p {
		margin: 50px 0px 150px;
	}
}
@media screen and (max-width: 1680px) {
	.form-sub input[type="text"], input[type="password"] {
		width: 82.6%;
	}
	h1 {
		margin: 130px 0 70px;
	}
}
@media screen and (max-width: 1600px) {
	h1 {
		margin: 2em 0 1.5em;
	}
	.copyright p {
		margin: 50px 0px;
	}
	.icon {
		right: 0px;
		bottom: 0;
		width: 53px;
		height: 50px;
	}
	.form-sub-w3 input[type="text"], input[type="password"] {
		width: 81.8%;
	}
	.footer p {
		margin: 4em 0em;
	}
	h1 {
		font-size: 50px;
	}
}
@media screen and (max-width: 1440px) {
	.main-w3layouts-agileinfo {
		width: 33%;
	}
	.form-sub-w3 input[type="text"], input[type="password"] {
		width: 81.5%;
	}
}
@media screen and (max-width: 1366px) {
	.form-sub input[type="text"], input[type="password"] {
		width: 80.8%;
	}
	h1 {
		margin: 1.7em 0 1em;
		font-size: 50px;
	}
}
@media screen and (max-width: 1280px) {
	.main-w3layouts-agileinfo {
		width: 36%;
	}
	.footer p {
		margin: 5em 0em;
	}
}
@media screen and (max-width: 1080px) {
	.main-w3layouts-agileinfo {
		width: 42%;
	}
	h1 {
		margin: 82px 0 0px;
	}
	.footer p {
		margin: 3em 0 4em;
	}
}
@media screen and (max-width: 1050px) {
	.form-sub input[type="text"], input[type="password"] {
		width: 83.5%;
	}
}
@media screen and (max-width: 1024px) {
	.main-w3layouts-agileinfo {
		width: 45%;
	}
	.footer p {
		margin: 4em 0em;
	}
	.form-sub input[type="text"], input[type="password"] {
		width: 80.8%;
	}
	h1 {
		margin: 1.8em 0 0.8em;
	}
	.submit-agileits input[type="submit"] {
		padding: 11px 90px;
	}
}
@media screen and (max-width: 991px) {
	h1 {
		margin: 1.5em 0 0.7em;
		font-size: 46px;
	}
	.footer p {
		margin: 3em 0em;
	}
	.main-w3layouts-agileinfo {
		padding: 3em 2em;
	}
	.wthree-form h2 {
		font-size: 18px;
	}
	.form-sub input[type="text"], input[type="password"] {
		width: 80.1%;
	}
}
@media screen and (max-width: 900px) {
	.main-w3layouts-agileinfo {
		width: 50%;
	}
}
@media screen and (max-width: 800px) {
	.main-w3layouts-agileinfo {
		width: 55%;
	}
	.form-sub input[type="text"], input[type="password"] {
		width: 79.8%;
	}
}
@media screen and (max-width: 768px) {
	.main-w3layouts-agileinfo {
		width: 58%;
	}
	h1 {
		margin: 2.5em 0 1em;
	}
	.footer p {
		margin: 5em 0em;
	}
	label.anim a {
		margin-top: 3px;
	}
}
@media screen and (max-width: 767px) {
	h1 {
		margin: 1.2em 0 0.7em;
	}
	.footer p {
		margin: 3em 0em;
	}
}
@media screen and (max-width: 736px) {
	.main-w3layouts-agileinfo {
		width: 60%;
	}
	h1 {
		font-size: 42px;
	}
	.form-sub input[type="text"], input[type="password"] {
		width: 79.7%;
	}
	.footer p {
		margin: 2.3em 0em;
	}
}
@media screen and (max-width: 667px) {
	.main-w3layouts-agileinfo {
		width: 68%;
	}
	.form-sub input[type="text"], input[type="password"] {
		padding: 12px 60px 12px 15px;
		font-size: 14px;
		width: 82.9%;
	}
	.icon {
		width: 45px;
		height: 43px;
	}
	.icon i {
		font-size: 18px;
		line-height: 44px;
	}
	.footer p {
		margin: 2.7em 0em;
	}
}
@media screen and (max-width: 640px) {
	.main-w3layouts-agileinfo {
		width: 70%;
	}
	.form-sub input[type="text"], input[type="password"] {
		width: 82.8%;
	}
}
@media screen and (max-width: 600px) {
	.main-w3layouts-agileinfo {
		width: 73%;
	}
	.form-sub input[type="text"], input[type="password"] {
		width: 82.5%;
	}
	.footer p {
		margin: 3em 0em;
		font-size: 13px;
	}
}
@media screen and (max-width: 568px) {
	.main-w3layouts-agileinfo {
		width: 80%;
	}
	h1 {
		font-size: 38px;
		letter-spacing: 8px;
	}
	.footer p {
		margin: 2.2em 1em 2em;
		line-height: 28px;
	}
	.form-sub input[type="text"], input[type="password"] {
		width: 82.5%;
	}
}
@media screen and (max-width: 480px) {
	.main-w3layouts-agileinfo {
		width: 80%;
	}
	.form-sub input[type="text"], input[type="password"] {
		width: 80%;
	}
	h1 {
		letter-spacing: 5px;
	}
	.wthree-form h2 {
		font-size: 16px;
	}
	.footer p {
		margin: 2.2em 2em 2em;
	}
}
@media screen and (max-width: 440px) {
	h1 {
		letter-spacing: 4px;
		font-size: 36px;
		margin: 1.4em 0 0.9em;
	}
	.form-sub input[type="text"], input[type="password"] {
		width: 78%;
	}
	.main-w3layouts-agileinfo {
		padding: 2.5em 2em;
	}
}
@media screen and (max-width: 414px) {
	h1 {
		font-size: 35px;
	}
	.form-sub input[type="text"], input[type="password"] {
		width: 77%;
	}
	.footer p {
		margin: 3.2em 2em;
	}
}
@media screen and (max-width: 384px) {
	.form-sub input[type="text"], .form-sub input[type="password"] {
		width: 73.8%;
	}
	h1 {
		font-size: 31px;
	}
	.wthree-form h2 {
		letter-spacing: 2px;
	}
}
@media screen and (max-width: 320px) {
	.main-w3layouts-agileinfo {
		padding: 1.5em 1.3em;
		width: 80%;
	}
	h1 {
		font-size: 32px;
		letter-spacing: 0.5px;
		margin: 1em 0 0.6em;
	}
	.wthree-form h2 {
		letter-spacing: 1.5px;
		font-size: 14px;
		margin-bottom: 1em;
	}
	.form-sub input[type="text"], .form-sub input[type="password"] {
		padding: 12.5px 60px 12.5px 15px;
		font-size: 13px;
		width: 68.2%;
	}
	label.anim a {
		margin-top: 12px;
		text-align: center;
		float: none;
	}
	.anim {
		text-align: center;
		margin-top: 0em;
	}
	input.checkbox:after {
		left: 59px;
	}
	.submit-agileits input[type="submit"] {
		padding: 8px 68px;
		font-size: 15px;
	}
	.submit-agileits {
		margin-top: 1.3em;
	}
	.footer p {
		margin: 1.6em 2em;
		letter-spacing: 1.4px;
	}
}